@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
* {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
}

.in_cuba-scroller::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  .in_cuba-scroller::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px green ; 
    border-radius: 10px;
  }
   
  /* Handle */
  .in_cuba-scroller::-webkit-scrollbar-thumb {
    background: rgb(162, 2, 255); 
    border-radius: 10px;
  }
  
  /*==================UTILITIES STYLES===============*/



body{
    background-color: rgb(255, 255, 255);
}

